<div class="card flex w-3/6 justify-between gap-1 p-4 bg-white rounded-2xl ">
  <div class="w-44 h-44">
    <img class="h-full w-full rounded-2xl object-cover" src="https://images.ctfassets.net/cfexf643femz/7AwOSZ943d0N5FbJA3ALhp/a8eb02d641c1d4581b529431666442c3/depositphotos_122829488-stock-photo-hdr-cali-colombia.jpg" alt="">
  </div>
  <div class="flex flex-col justify-between">
    <p class="font-bold">Colombia, Cali</p>
    <div>
      <div class="flex gap-2 mb-2">
        <div class="bg-gray-300 rounded-xl flex gap-2 p-2">
          <img src="/icons/calendar.svg" alt="calendario"> 
          <p class="text-sm font-bold text-gray-500">15 Feb - 20 Feb</p>
        </div>
        <div class="bg-gray-300 rounded-xl flex gap-2 p-2">
          <img src="/icons/hotel.svg" alt="hotel"> 
          <p class="text-sm font-bold text-gray-500">Decameron</p>
        </div>
      </div>
      <div class="bg-gray-300 rounded-xl flex gap-2 p-2">
        <img src="/icons/plane.svg" alt="hotel"> 
        <p class="text-sm font-bold text-gray-500">Aeropuerto Alfonso Bonilla Ara...</p>
      </div>
    </div>

    <button class="w-full bg-blue-600 p-2 rounded-xl text-white font-semibold hover:bg-blue-700 duration-200 transition-all " >
      Ver detalles
    </button>
  </div>
</div>